
  @keyframes saiyan {
    from{filter: blur(5px);}
    to{filter: drop-shadow(5px 5px 20px yellow );}
  }

#saiyan{
  animation-name: saiyan;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
@keyframes third {
  from{filter: blur(0px);}
  to{filter: blur(100px);}
}
#third{
  animation-name: third;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes el {
  from{width: 30px;}
  to{width: 100px;}
}
#el{
  background-color: black;
  width: 30px;
  height: 50vh;
  animation-name: el;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes eld {
  0% {width: 10px;}
  25% {width: 70px;}
  50% {width: 30px;}
  100% {width: 200px;}
}
#eld{
  width: 10px;
  animation-name: eld;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes gohan {
  from{filter: invert(100%);} 
  to{filter: invert(200%);} 
}
#gohan{
  animation-name: gohan;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes super {
  from{width: 25vw;}
  to{width: 100vw;}
  
}
#super_goku{
  width: 25vw;
  height: 35vh;
  animation-name: super;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes monkey_super{
  from{filter: grayscale(200%);}
  to{filter: contrast(200%);}
}
#monkey_super{
  animation-name: monkey_super;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes box {
  from{width: 30vw;}
  to{width: 50vw;}
  
}
.box1{
  width: 30vw;
  height: 30vh;
  background-color: blueviolet;
  animation-name: box;
  animation-duration: 5s;
  transform: translateX(50%);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes round {
  0%{width: 100vw; transform: translateY(0px);}
  25%{width: 20vw; transform: translateY(-50px)}
  50%{width: 50vw; transform: translateY(-30px)}
  100%{width: 10vw; transform: translateY(20px)}
}
.round{
  width: 20vw;
  height: 50vh;
  background-color: black;
  border-radius: 20vw;
  animation-duration: 5s;
  animation-name: round;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}